<div class="container">
  <h1>POSTS</h1>
  <button (click)="cargarPosts()">Cargar datos</button>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      @if (posts$ | async; as lista) {
        @for (item of lista; track item.id) {
          <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.body }}</td>
          </tr>
        } @empty {
          <tr><td colspan="2">No hay datos cargados.</td></tr>
        }
      }
    </tbody>
  </table>
</div>